<%-include("partials/header.ejs")%>
<div class="main">
    <h1>Welcome to Writers' Spot!</h1>
    <p>
        This is a very simple blog web application that I have created using only Node.js, Express and EJS. 
        I've used an array to store the blog posts as key: value pairs. You can write, view and delete posts here. 
        I hope you enjoy penning your thoughts down!
    </p>
</div>
<%-include("partials/footer.ejs")%>
